{% load static %}

{% load bootstrap4 %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ejemplo SIBW{% block title %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Restaurantes</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right mr-auto">

            {% if not user.is_authenticated %}
              <li id="nav_login"><a class="nav-link" href="{% url 'auth_login' %}">Iniciar Sesion</a></li>
            {% else %}
              <li id="nav_logout"><a class="nav-link" href="{% url 'auth_logout' %}">Cerrar Sesion</a></li>
              <li id="nav_add"><a class="nav-link" href="{% url 'aniade' %}">Añadir</a></li>
            {% endif %}
            <li id="nav_list"><a class="nav-link" href="{% url 'listar' %}">Listar <span class="sr-only">(current)</span></a></li>
            <li>
              <form class="form-inline my-2 my-lg-0" id="form-navbar" method="get" action="{% url 'buscar' %}">
                <input class="form-control mr-sm-2" type="text" placeholder="Nombre" name="name">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
      {% block content %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>

</html>
